.registration-header
  = link_to root_path, class: '' do
    = icon 'fas', 'chess'
    Tech_Reserve
  %h1
    ログイン
.registration-form
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      .field__label
        = f.label :email
      .field__input
        = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      .field__label
        = f.label :password
      .field__input
        = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .field
        .field__checkbox
          = f.check_box :remember_me
          = f.label :パスワードを記録する
    .field
      = f.submit "ログイン", class: 'tech-btn'
    .device-links
      = render "users/shared/links"
