.header
  .header__logo
    = link_to root_path, class: '' do
      = icon 'fas', 'chess'
      Tech_Reserve
      -# = image_tag 'logo.png', size: "100x100", alt: "test"
  .header__message
    - if user_signed_in?
      %h1
        ようこそ、
        = link_to current_user.nickname, comment_index_mypage_path(current_user), class: ''
        さん
    - else
      %h1
        ようこそ！
  .header__login
    - if user_signed_in?
      = link_to destroy_user_session_path, method: :delete, class: '' do
        = icon 'fas', 'sign-out-alt'
        ログアウト
    - else
      = link_to new_user_session_path, class: '' do
        = icon 'fas', 'user-circle'
        ログイン
  .header__output-index
    = link_to categories_index_path, class: '' do
      = icon 'fas', 'feather'
      アウトプット一覧
    