.comments-main
  %ul#comments-list
    - @comments.each do |comment|  
      %li.comment
        .comment__image
          = link_to comment_index_mypage_path(comment.user.id) do
            - if comment.user.image.present?
              = image_tag comment.user.image.url
            - else
              = image_tag src='no_image4.png'
          - if comment.user == current_user
            .comment__edit
              = icon 'fas', 'bars'
            %ul.comment__list
              %li
                =link_to comment_path(comment), method: :delete do
                  削除
              -# %li
              -#   =link_to edit_comment_path(comment) do
              -#     編集
        .comment__content
          .comment__head
            .comment__head--nickname
              = link_to comment_index_mypage_path(comment.user.id) do
                = comment.user.nickname
            .comment__head--time
              = comment.created_at.strftime("%H:%M")
            .comment__head--learning-time
              %h1 学習時間
              %h2 
                = comment.learning_time
                分
          .comment__text
            = simple_format(comment.text)
          .comment__goods{id: "goods-#{comment.id}"}
            = render partial: 'goods/good', locals: { comment: comment }
          %ul.comment__categories
            - comment.categories.each do |category|
              = link_to category do
                %li 
                  = category.name
