.mypage-sidebar
  .mypage-sidebar__image
    - if @user.image.present?
      = image_tag @user.image.url
    - else
      = image_tag src='no_image4.png'
  .mypage-sidebar__nickname
    = @user.nickname
  .mypage-sidebar__introduction
    - if @user.introduction.present?
      = simple_format(@user.introduction)
    - else
      自己紹介はまだありません
  .mypage-sidebar__counts
    .mypage-sidebar__counts--comments
      = link_to comments_mypage_path, class:'' do
        = @user.comments.count
        %h2 投稿
    .mypage-sidebar__counts--goods
      = link_to good_index_mypage_path, class:'' do
        = @user.goods.count
        %h2 いいね！
    .mypage-sidebar__counts--followers
      = link_to follows_mypage_path, class:'' do
        = @user.followings.count
        %h2 フォロー
  - if current_user == @user
    = link_to edit_profile_mypage_path(current_user), class:'mypage-sidebar__btn' do
      プロフィールを編集
  - else
    = render partial: 'relationships/follow-btn', locals: {user: @user}


  
